body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://tse1.mm.bing.net/th?id=OIP.s-ZdnKF7oXMTIHR8RVoYBAHaEH&pid=Api&P=0&h=180);
  background-repeat:no-repeat;
  background-size:100%;
    font-size: 20px;
}
.container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
h1 {
    text-align: center;
    font-size: 40px;
    color: indigo;
  font-family:Lucida Handwriting;
}
h2{
    text-align: center;
    font-size: 30px;
    color: black;
}
#recipe-list {
    margin-bottom: 20px;
  display:flex;
  justify-content:space-evenly;
}
#recipe-list .recipe {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  font-size:30px;
    margin-bottom: 20px;
  width:300px;
  height:300px;
  overflow:scroll;
}
#add-recipe-form {
    padding: 20px;
    border-radius: 5px;
}
#add-recipe-form input[type="text"],
#add-recipe-form textarea {
    width: 85%;
    padding: 8px;
    margin-bottom: 10px;
  border:1px solid black;
  border-radius:10px;
    font-size: 18px;
    color: black;
}
#add-recipe-form button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
#add-recipe-form button:hover{
    background:blue;
}